.carousel-caption p {
    color: white;
}

.carousel-inner, .carousel-item {
    height: 250px;
}



/*Hide the checkmark by default*/
.checkbox-style input[type="checkbox"] + label::after {
    content: none!important;
}
/*Unhide the checkmark on the checked state*/
.checkbox-style input[type="checkbox"]:checked + label::after {
    content: ""!important;
}

.checkbox-style input[type="checkbox"] {
    opacity: 0;
}

.checkbox-style label {
    position: relative;
    display: inline-block;
    
    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 22px;
}

.checkbox-style label::before,
.checkbox-style label::after {
    position: absolute;
    content: "";
    
    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox-style label::before{
    height: 16px;
    width: 16px;
    border: #adb5bd solid 1px!important;
    border-radius: .25rem;
    left: 0px;
    
    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: 3px;
}

/*Checkmark of the fake checkbox*/
.checkbox-style label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    
    transform: rotate(-45deg);
    
    left: 4px;
    top: 7px;
}

/*Hide the checkmark by default*/
.checkbox-style input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox-style input[type="checkbox"]:checked + label::after {
    content: "";
}

.checkbox-style{
    padding-left: 0px!important;
    margin-right: 0px!important;
}

.border-input{
    border: 1px solid #ddd!important;
    border-radius: .25rem!important;
    padding: .5rem .75rem!important;
    background-color: #f8f9fa!important;
    width: 100%!important;
}