.carousel-caption p {
    color: white;
}

.carousel-inner, .carousel-item {
    height: 250px;
}


.border-input{
    border: 1px solid #ddd!important;
    border-radius: .25rem!important;
    padding: .5rem .75rem!important;
    background-color: #f8f9fa!important;
    width: 100%!important;
}